<div class="h-screen flex justify-center items-center px-4 lg:!px-0">
  <div class="backdrop-blur-lg bg-orange-300 bg-opacity-50 w-96 mx-auto rounded-md shadow-2xl">
    <form
      class="flex flex-col w-full my-3 p-5"
      #noteForm="ngForm"
      [formGroup]="noteFormGroup"
      (ngSubmit)="updateNote(noteForm)"
    >
      <mat-form-field appearance="fill">
        <mat-label>{{'ROOT.TITLE' | translate}}</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{'ROOT.BODY' | translate}}</mat-label>
        <textarea matInput formControlName="body" class="h-20" ></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{'ROOT.LABEL' | translate}}</mat-label>
        <mat-chip-list class="label-chip-list" #chipList>
          <mat-chip
            *ngFor="let label of labels"
            [selectable]="true"
            [removable]="true"
            (removed)="removeLabel(label)"
            class="label-chip"
          >
            <span>{{ label }}</span>
            <mat-icon matChipRemove>close</mat-icon>
          </mat-chip>
          <input
            matInput
            placeholder="{{'ROOT.EDIT_LABELS' | translate}}"
            data-cy="labels"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="add($event, labelInput)"
            (paste)="paste($event)"
            #labelInput
          />
        </mat-chip-list>
      </mat-form-field>

      <div class="flex justify-end">
        <button mat-raised-button color="primary" type="submit" [disabled]="!noteForm.valid">{{'ROOT.UPDATE' | translate}}</button>
      </div>
    </form>
  </div>
</div>
