<div class="flex flex-col">
  <div>
    <mat-form-field class="mx-auto search-form bg-rose-300 bg-opacity-50 rounded" appearance="standard">
      <input
        matInput
        placeholder="{{ 'ROOT.SEARCH' | translate }}"
        [(ngModel)]="searchText"
        (input)="noteFilterChanged(searchText)"
        [formControl]="searchControl"
      />
    </mat-form-field>
  </div>
  <div
    class="note-list pb-16 px-4 lg:!px-0 min-h-screen"
    cdkDropList
    #noteList="cdkDropList"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListData]="displayNotes"
  >
    <app-note-item
      [cdkDragData]="note"
      *ngFor="let note of displayNotes"
      [note]="note"
      class="w-full"
      cdkDrag
      cdkDragHandle
    ></app-note-item>
  </div>
</div>
