<div class="flex flex-col">
  <div class="flex bg-violet-400 search-filter-note">
    <mat-form-field class="m-auto search-form" appearance="outline">
      <input matInput placeholder="Search" [(ngModel)]="searchText" (input)="noteFilterChanged(notes,searchText)" />
    </mat-form-field>
  </div>

  <div class="note-list overflow-auto" cdkDropList (cdkDropListDropped)="drop($event)">
    <app-note-item
      *ngFor="let note of displayNotes"
      [note]="note"
      class="w-full"
      cdkDrag
      cdkDragHandle
    ></app-note-item>
  </div>

  <div
    class="add-note-button flex bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"
  >
    <div class="m-auto">
      <button mat-raised-button color="primary" routerLink="create-note">
        Add
      </button>
    </div>
  </div>
</div>
