<div class="h-screen bg-white flex flex-col space-y-10 justify-center items-center">
  <div class="bg-white w-96 shadow-xl rounded p-5">
<form class="space-y-5 mt-5" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1 class="text-3xl font-medium">Welcome</h1>
  <div class="flex flex-col">
    <mat-form-field class="bg-gray-200 rounded">
      <mat-label>User name</mat-label>
      <input matInput type="text" formControlName="userName"  >
    </mat-form-field>
    <mat-form-field class="bg-gray-200 rounded mt-1.5">
      <mat-label>Enter your password</mat-label>
      <input matInput type="password" formControlName="password" >
    </mat-form-field>
  </div>
  <button class="text-center w-full bg-blue-900 rounded-md text-white py-3 font-medium" mat-stroked-button>Login</button>
</form>
  </div>
</div>



