<mat-card class="mx-auto max-w-lg my-3 backdrop-blur-lg note-card">
  <mat-card-title>{{ note.title }}</mat-card-title>
  <mat-card-content class="h-20 p-2 text-opacity-50 text-gray-300 overflow-auto">{{ note.body }} </mat-card-content>

  <mat-chip-list>
    <mat-chip *ngFor="let label of note?.labels">{{ label }}</mat-chip>
  </mat-chip-list>
  <mat-card-actions align="end">
    <a
      mat-raised-button
      class="note-detail-button bg-emerald-300"
      (click)="viewNoteDetail()"
      [routerLink]="['notes', note.id]"
    >
      <span class="text-sm text-emerald-500">{{'ROOT.DETAIL' | translate}}</span>
    </a>

    <button
      mat-raised-button
      class="note-delete-button bg-red-300"
      (click)="deleteNote()"
    >
      <span class="text-sm text-red-500">{{'ROOT.DELETE' | translate}}</span>
    </button>
  </mat-card-actions>
</mat-card>
